<h1>Cars grouped by color</h1>

{{#each carsByColor as |group|}}
  <h3>Cars that have {{group.property}} {{group.value}}, that once were {{group.originalColor}}</h3>
  {{#if group.isBigGroup}}
    This will be a long list! It contains {{group.count}} items. The first car has color {{group.firstcolor}}.
  {{/if}}
  <ul>
    {{#each group.items as |car|}}
      <li>{{car.name}}</li>
    {{/each}}
  </ul>
{{/each}}